.banner{
    margin-bottom: 100px;
}
.bannerimg{
    margin-top: 50px;
    margin-left: 5%;
    width: 1200px;
    height: 200px;
}
.blocks{
    width: 300px;
    display: inline-block;
    margin-left: 100px;
}
.space {
    margin-left: 50px;
}
.space1{
    margin-right: 50px;
}