.banner {
    margin-bottom: 100px;
}

.bannerimg {
    margin-top: 50px;
    margin-left: 5%;
    width: 1200px;
    height: 300px;
}

.blocks {
    width: 300px;
    display: inline-block;
    margin-left: 100px;
}

.card {
    height: 300px;
}

.space {
    margin-left: 50px;
}

.space1 {
    margin-right: 50px;
}

.imgcard {
    height: 200px;
    width: 200px;
}

.bigcontainer {
    padding-top: auto;
}

.parallax-container {
    height: auto;
}

.size {
    display: inline !important;
}